<?xml version="1.0"?>
<!--
/**
 * GoBeep
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    GoBeep
 * @package     Gobeep_Ecommerce
 * @author      Christophe Eblé <ceble@gobeep.co>
 * @copyright   Copyright (c) GoBeep (https://gobeep.co)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <sections>
        <sales>
            <groups>
                <gobeep_ecommerce translate="label" module="gobeep_ecommerce">
                    <label>Gobeep Ecommerce</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <game_url translate="label">
                            <label>Game URL</label>
                            <comment><![CDATA[Post here the game URL given by GoBeep on the form: https://eu.d2p.run/XXX]]></comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-url</validate>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </game_url>
                        <cashier_url translate="label">
                            <label>Cashier URL</label>
                            <comment><![CDATA[Post here the cashier URL given by GoBeep on the form: https://eu-pos.d2p.run/XXX]]></comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-url</validate>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cashier_url>
                        <secret translate="label">
                            <label>Secret</label>
                            <comment><![CDATA[Query parameters will be signed with this secret]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secret>
                        <from_date translate="label">
                            <label>From Date</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>gobeep_ecommerce/adminhtml_system_config_date</frontend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_date>
                        <to_date translate="label">
                            <label>To Date</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>gobeep_ecommerce/adminhtml_system_config_date</frontend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </to_date>
                        <eligible_days>
                            <label>Eligible days</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Gobeep_Ecommerce_Model_System_Config_Source_View</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </eligible_days>
                        <image>
                            <label>Image</label>
                            <comment>Upload your Image from here</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">theme</upload_dir>
                            <base_url type="media" scope_info="1">theme</base_url>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image>
                        <external_image>
                            <label>External Image</label>
                            <comment>Set your external image here (has priority on internal image)</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-url</validate>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </external_image>
                        <notify translate="label">
                            <label>Notify refund to customer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notify>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><notify>1</notify></depends>
                        </email_template>
                    </fields>
                </gobeep_ecommerce>
            </groups>
        </sales>
    </sections>
</config>